<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">About</h2>
                <hr class="light">
                <p class="text-faded">
                This application is running on .NET Core and was developed by Lumagate AS.  
                </p>
                <a href="/dashboard" class="page-scroll btn btn-default btn-xl sr-button">Go to Dashboard</a>
            </div>
        </div>
    </div>
</section>


