<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1 id="homeHeading"><b>ASP.NET Core</b></h1>
            <hr>
            <p>Hosted on Windows Nano Server</p>
            <a href="/dashboard" class="btn btn-primary btn-xl page-scroll">Dashboard</a>
        </div>
    </div>
</header>
